
/* Put custom app styles here.
 * Basscss is loaded through the postcss-basscss plugin
 */
@import 'basscss';

/*
 * Adjust custom media query values here
 * or in webpack.config.js
 *
 * E.g.
 * @custom-media --breakpoint-sm (min-width: 42em);
*/

:root {
  /* Adjust custom property values (i.e. variables) here
   * or in webpack.config.js
   *
   * E.g.
   * --font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
   */
}

